In [2]:
myName = 'doctor'

In [3]:
myNew_name = myName.capitalize()

In [4]:
myNew_name

'Doctor'

In [5]:
myFullName = 'doctor who'
myFullName.split()

['doctor', 'who']

#### Lists

* Lists are positionally ordered collections of arbitrarily typed objects, and they have no fixed sizes.

* They're also mutable.

In [6]:
my_list = [10, 20, 30, 40]
type(my_list)

list

In [7]:
## Lists are mutable.
my_list[0] = 5

In [8]:
my_list

[5, 20, 30, 40]

Lists have no fixed size. That is, they can grow and shrink on demand.

In [11]:
my_list.append(50) # Growing: add object at end of list.

In [10]:
my_list

[5, 20, 30, 40, 50]

In [12]:
my_list.pop(2) # Shrinking: delete an item in the middle. 
                # As default, delete an item at end of list.

30

In [14]:
my_list

[5, 20, 40, 50, 50]

In [15]:
my_list.pop()

50

In [16]:
my_list

[5, 20, 40, 50]

In [17]:
my_list.pop(1)

20

In [18]:
my_list

[5, 40, 50]

In [19]:
my_list.remove(5) # remove a given item by value.

In [20]:
my_list

[40, 50]

In [21]:
my_list.count(40) # How many given value in the list?

1

In [24]:
my_list.append([20, 30])
my_list

[40, 50, [20, 30], [20, 30]]

In [25]:
my_list.remove([20, 30])

In [28]:
my_list[2][0]

20

In [31]:
my_list.insert(0, 10) # Insert an item at an arbitrary position.(Index, Value)

In [33]:
my_list.remove(0)

In [34]:
my_list

[10, 40, 50, [20, 30]]

In [1]:
mixedList = ["doctor", 2, 3.4]
type(mixedList[0])

str

In [2]:
nestedList = [1, 5, "atıl", 4, [4, 'z']]
nestedList[4]

[4, 'z']

In [4]:
a = nestedList[4][1] # Get row 5 and then row 2 from its list.
a

'z'

In [6]:
mixedList = [[1, 2, 3, ["a", "b"], 50], 40, 20,
            ["z", 5, 5], [3, ["a"]]]
b = mixedList[0][3][1]

In [7]:
b

'b'

#### Dictionaries

* They're store objects by key instead of by relative position.
* They simply map keys to associated values.
* They're mutable.

In [1]:
D = {"food" : 'spam', "quantity" : 4, "color" : 'pink'}

In [3]:
D["food"]

'spam'

In [5]:
D['quantity'] += 1

In [6]:
D

{'food': 'spam', 'quantity': 5, 'color': 'pink'}

In [7]:
D['name'] = 'Doctor'

In [8]:
D

{'food': 'spam', 'quantity': 5, 'color': 'pink', 'name': 'Doctor'}

* Dictionaries built up in different ways.

In [9]:
D = {}
D['name'] = 'Joe'
D["age"] = 33
D['job'] = 'dev'
D

{'name': 'Joe', 'age': 33, 'job': 'dev'}

#### SETS

* No repeating values.

In [10]:
D = set()
type(D)

set

In [11]:
lisT = [1, 3, 5, 1, 5, 6]
sett = set(lisT)
type(sett)

set

In [12]:
sett

{1, 3, 5, 6}

#### TUPLES

* Immutable
* Index-based

In [23]:
myTuple = (1, 2, 'a', 4.5)

In [24]:
type(myTuple)

tuple

In [25]:
myTuple[2]

'a'

In [38]:
M = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]

In [39]:
type(M)

list

In [40]:
col2 = [row[1] for row in M] # collect the items in column 2
col2

[2, 5, 8]

In [42]:
[row[1] + 1 for row in M] # add 1 to each item in column 2

[3, 6, 9]

In [43]:
[row[1] for row in M if row[1] % 2 == 0] # Filter out odd items

[2, 8]

In [44]:
diag = [M[i][i] for i in [0, 1, 2]] # collect a diagonal from matrix
diag

[1, 5, 9]

In [45]:
doubles = [c * 2 for c in 'spam']
doubles

['ss', 'pp', 'aa', 'mm']

In [51]:
G = (sum(row) for row in M)  # Create a generator of row sums
next(G) # run the iteration protocol

6

In [52]:
next(G)

15

In [53]:
next(G)

24

In [54]:
# The map built-in can do similar work.
list(map(sum, M)) # Map sum over items in M

[6, 15, 24]

In [58]:
{i : sum(M[i]) for i in range(3)}

{0: 6, 1: 15, 2: 24}